

.icon-button img {
    width: 30px;
    height: 30px;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.basket-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.basket-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.basket-items {
    width: 60%;
    margin-top: 0; /* Убедитесь, что нет лишних отступов */
}



.basket-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s;
}

.basket-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.basket-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 4px;
}

.basket-item div {
    flex-grow: 1;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 10px; 
}

.item-quantity {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.item-quantity input {
    width: 60px;
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.item-info {
    display: flex;
    justify-content: space-between; /* Распределяет пространство между элементами */
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    margin-bottom: 10px; /* Отступ между названием и количеством */
}


.item-actions {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.item-actions button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s;
}

.item-actions button:hover {
    transform: scale(1.1);
}

.item-price {
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 20px;
}

.basket-item input {
    width: 50px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.delivery-info, .recipient-info, .payment-methods, .total {
    margin-bottom: 20px;
}

.h2aboba {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.payment-methods h2, .total h2 {
    margin-bottom: 10px;
}

.payment-buttons {
    display: flex;
    gap: 10px;
}

.payment-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    color: white;
    transition: background-color 0.3s;
}

.payment-buttons button:hover {
    background: #0056b3;
}

.pay-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pay-button:hover {
    background-color: #218838;
}

.total {
    text-align: right;
}

.item-actions {
    display: flex;
    gap: 10px; /* Отступ между кнопками */
}

.item-actions button {
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 5px;
    transition: transform 0.2s; 
}

.item-actions button:hover {
    transform: scale(1.1); 
}

.item-actions img {
    width: 20px; 
    height: 20px; 
    vertical-align: middle; 
}


.address-input,
.postal-code-input,
.recipient-name-input,
.phone-input,
.email-input,
.delivery-method-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.delivery-info,
.recipient-info {
    margin-bottom: 20px;
}

.h2aboba {
    background-color: gray;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.payment-section {
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.payment-buttons {
    display: flex;
    gap: 10px;
}

.payment-buttons button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: none;
    color: white;
    transition: background-color 0.3s;
}

.payment-buttons button:hover {
    background: #0056b3;
}

.pay-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pay-button:hover {
    background-color: #218838;
}

.total {
    text-align: right;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #F5F9E4;
}

.header {
  background-color: #000A02;
  padding: 20px;
  color: white;
  z-index: 5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.more-link-container
{
  display: flex;
  margin-left: 1550px;
}

.more-link
{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.logo {
  max-width: 150px; 
  height: 50px; 
  left: 220px;
  position: relative;
}

.nav {
  background-color: #CACCC1;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px 0;
  flex-wrap: wrap; 
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #000A02;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; 
}

.nav ul li a:hover {
  background-color: #000A02;
  color: #F5F9E4;
}

.slider-container {
  width: 78%;
  margin: 0 auto;
  padding: 20px;
}

.slider-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}


.slick-dots {
  position: absolute;
  bottom: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc; 
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: background-color 0.3s, opacity 0.3s;
}

.slick-dots li.slick-active button {
  background-color: #000; 
  opacity: 1;
}


.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}

.slick-prev::before,
.slick-next::before {
  font-family: 'Arial', sans-serif; 
  font-size: 24px;
  color: white; 
  opacity: 1;
}

.slick-prev {
  left: 20px; 
}

.slick-next {
  right: 20px;
}

.slick-prev::before {
  content: '←'; 
}

.slick-next::before {
  content: '→'; 
}

.button-container {
  display: flex;
  gap: 10px; 
  position: relative;
  right: 210px;
}

.icon-button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 10px; 
  transition: transform 0.2s; 
}

.icon-button:hover {
  transform: scale(1.1); 
}

.icon-button img {
  width: 24px; 
  height: 24px; 
}

.h1-new
{
  position: relative;
  right: 665px;
  margin-top: 30px;
  font-family: 'Literata';
}


.about-section {
  text-align: left;
  margin: 40px auto;
  max-width: 1500px;
  padding: 0 20px;
}

.about-section h1 {
  font-family: 'Literata', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000A02;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.about-image {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  max-width: 600px;
}

.container-carder {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  padding: 5px 145px;
  border-radius: 8px; 
  margin: 10px 0; 
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px; 
}

.card-item img {
  width: 250px; 
  height: 250px;
  margin-bottom: 15px; 
  border-radius: 8px; 
}

.card-item p {
  font-size: 18px; 
  color: #333;
  margin: 0; 
  font-weight: 500; 
}
.footer {
    background-color: #000000;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    height: 500px;
    padding-left: 210px;
    
}

.footer-logo {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
    text-align: center;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-content {
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    min-width: 150px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-qr {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.qr-code {
    text-align: center;
    position: absolute;
    transform: translate(-80%, 100%);
}
.qr-code img {
    width: 600px;
}