.footer {
    background-color: #000A02;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    height: 500px;
    padding-left: 210px;
}

.footer-logo {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
    text-align: center;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-content {
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    min-width: 150px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-qr {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100%;
}

.qr-code {
    position: absolute;
    bottom: -50px;
    right: 450px;
    text-align: center;
    background: transparent;
    z-index: 10;
}

.qr-code img {
    width: 575px;
    height: 235px;
    object-fit: contain;
    background: transparent;
    display: block;
} 