

.container {
    
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F9E4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    color: #333;
}

.age-category {
    font-size: 25px;
    color: #666;
}

.game-type {
    font-size: 25px;
    color: #888;
}

.game-details {
    font-size: 25px;
    color: #555;
    margin: 10px 0;
}

.star-rating {
    display: flex;
}

.star {
    font-size: 24px; 
    color: #FFD700; 
    margin-right: 5px;
}

.star.filled {
    color: #FFD700; 
}


.price {
    font-size: 32px;
    color: #000;
    font-weight: bold;
    margin: 20px 0;
}

.product-info {
    display: flex;
    align-items: flex-start; 
}

.product-image {
    width: 500px; /* Установите фиксированную ширину */
    height: auto; /* Высота будет автоматически подстраиваться */
    margin-right: 20px; 
}


.product-details-column {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    position: relative;
    left: 700px;
}

.game-type, .game-details {
    display: flex;
    align-items: center; /* Центрирует иконку и текст по вертикали */
    margin: 10px 0; /* Отступ между строками */
}

.icon {
    margin-right: 8px; /* Отступ между иконкой и текстом */
    width: 20px; /* Установите фиксированную ширину для иконок */
    height: auto; /* Высота будет автоматически подстраиваться */
}



.add-to-cart {
    background-color: #28a745;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.description {
    font-size: 20px;
    color: #333;
    margin: 20px 0;
}

.reviews {
    margin-top: 30px;
    padding: 0px 0px 30px;
}

.review {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin-top: 20px;
}

.review-author {
    font-weight: bold;
    color: #333;
}

.review-author-container {
    display: flex;
    align-items: center; /* Центрирует аватарку и текст по вертикали */
}

.review-avatar {
    width: 40px; /* Установите фиксированную ширину для аватарок */
    height: 40px; /* Установите фиксированную высоту для аватарок */
    border-radius: 50%; /* Сделает аватарки круглыми */
    margin-right: 10px; /* Отступ между аватаркой и текстом */
}


.review-date {
    color: #888;
    font-size: 12px;
}

.review-text {
    color: #555;
    margin-top: 5px;
}

.write-review {
    margin-top: 20px;
}

.write-review textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.write-review button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.footer {
    background-color: #000000;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
    height: 500px;
    padding-left: 210px;
    
}

.footer-logo {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
    text-align: center;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.footer-content {
    flex: 2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
    min-width: 150px;
}

.footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-qr {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.qr-code {
    text-align: center;
    position: absolute;
    transform: translate(-80%, 100%);
}



.qr-code img {
    width: 600px;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #F5F9E4;
}

.header {
  background-color: #000A02;
  padding: 20px;
  color: white;
  z-index: 5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.more-link-container
{
  display: flex;
  margin-left: 1550px;
}

.more-link
{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.logo {
  max-width: 150px; 
  height: 50px; 
  left: 220px;
  position: relative;
}

.nav {
  background-color: #CACCC1;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 10px 0;
  flex-wrap: wrap; 
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #000A02;
  font-weight: bold;
  padding: 10px 20px; 
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; 
}

.nav ul li a:hover {
  background-color: #000A02;
  color: #F5F9E4;
}

.slider-container {
  width: 78%;
  margin: 0 auto;
  padding: 20px;
}

.slider-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}


.slick-dots {
  position: absolute;
  bottom: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc; 
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: background-color 0.3s, opacity 0.3s;
}

.slick-dots li.slick-active button {
  background-color: #000; 
  opacity: 1;
}


.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8); 
}

.slick-prev::before,
.slick-next::before {
  font-family: 'Arial', sans-serif; 
  font-size: 24px;
  color: white; 
  opacity: 1;
}

.slick-prev {
  left: 20px; 
}

.slick-next {
  right: 20px;
}

.slick-prev::before {
  content: '←'; 
}

.slick-next::before {
  content: '→'; 
}

.button-container {
  display: flex;
  gap: 10px; 
  position: relative;
  right: 210px;
}

.icon-button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 10px; 
  transition: transform 0.2s; 
}

.icon-button:hover {
  transform: scale(1.1); 
}

.icon-button img {
  width: 24px; 
  height: 24px; 
}

.h1-new
{
  position: relative;
  right: 665px;
  margin-top: 30px;
  font-family: 'Literata';
}


.about-section {
  text-align: left;
  margin: 40px auto;
  max-width: 1500px;
  padding: 0 20px;
}

.about-section h1 {
  font-family: 'Literata', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000A02;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

.about-image {
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  max-width: 600px;
}

.container-carder {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  flex-wrap: wrap; 
  padding: 5px 145px;
  border-radius: 8px; 
  margin: 10px 0; 
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px; 
}

.card-item img {
  width: 250px; 
  height: 250px;
  margin-bottom: 15px; 
  border-radius: 8px; 
}

.card-item p {
  font-size: 18px; 
  color: #333;
  margin: 0; 
  font-weight: 500; 
}